<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }} <span>Table of Contents</span></h5>
  <ul class="menu-item">
    {% for page in site.data.navigation %}<li>
      <a href="{{ site.baseurl }}/{{ page.page }}">
        <div class="title">Page {{ page.page }}</div>
        <p class="excerpt">
          {% for package in page.packages %}
          <a href="{{ site.baseurl }}/{{ package.category }}">{{ package.name }}</a>
          {% endfor %}
        </p>
      </a>
    </li>{% endfor %}
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
