<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.baseurl %}
    {% endif %}
    <li><a href="{{ domain }}/{{ link.page }}" {% if link.url contains 'http' %}target="_blank"{% endif %} title="{% for package in link.packages %}{{ package.name }}, {% endfor %}">{{ link.page }}</a></li>
  {% endfor %}
</ul>
