{% if post.images != "" %}
<article class="tile" itemscope itemtype="http://schema.org/Article">
  <div class="carousel {{ post.rdname }}">
  {% for image in post.images %}
  <div>
  <img src="{{ image }}" alt="teaser" itemprop="image">
  </div>
  {% endfor %}
  </div>
  <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.rdname }}</a></h2>
  <p class="post-excerpt" itemprop="description">{{ post.title | strip_html | truncate: 160 }}</p>
</article><!-- /.tile -->
{% endif %}
